<form #formData="ngForm" (ngSubmit)="addPaymentDetail(formData)"
[class.submitted]="service.formSubmited"
autocomplete="off"
>

     <input type="hidden" name="paymentDetailId" [value]="service.formData.paymentDetailId">
    <div class="mb-3">
        <label>Card Owner Name</label>
        <input type="text" class="form-control mt-1 form-control-lg"
        placeholder="Name On Card"
        #cardOwnerName="ngModel"
        name="cardOwnerName"
        [(ngModel)]="service.formData.cardOwnerName"
        required>
    </div>
    <p style="color: red;" *ngIf="cardOwnerName.invalid && cardOwnerName.touched">*Required Field</p>

    <div class="mb-3">
        <label>Card Number </label>
        <input type="text" class="form-control mt-1 form-control-lg"
        maxlength="16"
        placeholder="Enter 16 digit Card Number"
        #cardNumebr="ngModel"
        name="cardNumebr"
        [(ngModel)]="service.formData.cardNumebr"
        minlength="16"
        maxlength="16"
        required>
    </div>
    <p style="color: red;" *ngIf="cardNumebr.invalid && cardNumebr.touched">*Required Field</p>


    <div class="row">
        <div class="mb-3 col-6">
            <label>Security Code</label>
            <input type="text" class="form-control mt-1 form-control-lg"
            type="password"
            placeholder="CVV"
            #securityCode="ngModel"
            name="securityCode"
            [(ngModel)]="service.formData.securityCode"
            minlength="3"
            maxlength="3"
            required>
        </div>
    <p style="color: red;" *ngIf="securityCode.invalid && securityCode.touched">*Required Field</p>


        <div class="mb-3 col-6">
            <label>Valid Throw</label>
            <input type="text" class="form-control mt-1 form-control-lg"
            placeholder="MM/YY"
            #expirationDate="ngModel"
            name="expirationDate"
            [(ngModel)]="service.formData.expirationDate"
            required>
        </div>
    <p style="color: red;" *ngIf="expirationDate.invalid && expirationDate.touched">*Required Field</p>

    
        
    
    </div>
    
    <button class="btn btn-success" type="submit" [disabled]="formData.invalid"> Submit </button>
</form>